<%- include('partials/header.ejs'); -%>

<div class="container">
    <h1>Fotis Fotiadis Book list</h1>
    <h3>This is the book list page. The books here are sample data.</h3>

    <% for(let book of books){%>

    <p id="title<%=book.id%>">
        <%= book.booktitle %>
    </p>

    <% } %>
</div>

<%- include('partials/footer.ejs'); -%>